<form action='/create' method='POST'>
  <h1>Добавление новости</h1>
  <div class='mb-3'>
    <label for='title' class='form-label'>Название новости</label>
    <input
      type='text'
      class='form-control'
      name='title'
      placeholder='Введите название новости'
    />
  </div>
  <div class='mb-3'>
    <label for='text  ' class='form-label'>Текст новости</label>
    <textarea
      placeholder='Введите текст'
      class='form-control'
      name='text'
      rows='3'
    ></textarea>
  </div>

  <input type='hidden' name='_csrf' value='{{csrfToken}}' />

  <button type='submit' class='btn btn-primary'>Добавить новость</button>
</form>