<div class='row'>
  <div class='card-img' style='height: 20rem'>
    <div class='card-body'>
      <h5 class='card-title'>{{post.title}}</h5>
      {{#if post.creator.login}}
        <p class='card-text'>Автор: {{post.creator.login}}</p>
      {{else}}
        <p class='card-text'>Автор: Гость</p>
      {{/if}}
      <p class='card-text price'>{{post.text}}</p>
    </div>
  </div>
</div>